<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <style>
        body {
            width: 100%;
        }

        .row {
            margin: 0 0 0 0;
        }

        .container-fluid {
            padding: 0;
            height: 100%;
        }

        .username {
            font-weight: bolder;
        }

        .navbar {
            padding: 2px 7px 0 20px;
        }

        .sidebar {
            padding-top: 19px;
            width: 237px;
            background-color: #ffffff;
            padding: 25px 0 0 0;
        }

        .content {
            background-color: #f8f9fa;
            height: 899px;
        }

        .admin_panel {
            margin-bottom: 11px;
        }

        .buttons_panel {
        }

        .user_table_button {
        }

        .btn-secondary,
        .btn-secondary:not(:disabled):not(.disabled):active,
        .btn-secondary:hover,
        .btn-secondary:focus {
            border-color: #dee2e6;
        }

        .tables_name_panel {
            padding: 14px 0 0 19px;
            background-color: #f7f7f7;
        }

        .table_container {
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-width: .2rem;
            background-color: #fff;
        }
    </style>

    <title>Users' list page</title>
</head>

<body>

<!-- general container -->
<div class="container-fluid">
    <!-- header -->
    <nav class="navbar navbar-dark bg-dark">
        <table th:object="${currentUser}">
            <tr class="navbar-brand">
                <td><span class="username" th:text="*{email}"/></td>
                <td>with roles</td>
                <td><span th:text="*{listRolesToString()}"/></td>
            </tr>
        </table>

        <form class="form-inline">
            <button type="button" class="btn btn-link my-2 my-sm-0" onclick="location.href='/logout'">Logout</button>
        </form>
    </nav>

    <!-- container of the main part-->
    <main class="container-fluid">
        <!-- sidebar -->
        <div class="row">
            <div class="col-md-auto sidebar">
                <div class="row">
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='/admin/'">
                        Admin
                    </button>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-link btn-block" onclick="location.href='/user'">
                        User
                    </button>
                </div>
            </div>

            <!-- main content's container -->
            <div class="col-md-8 content">
                <div class="container">
                    <div class="row admin_panel">
                        <h3 class="mt-3">Admin panel</h3>
                    </div>

                    <!-- Navbar list and new user -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <!-- users' list -->
                        <li class="nav-item">
                            <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab"
                               aria-controls="list"
                               aria-selected="true">Users table</a>
                        </li>

                        <!-- new user -->
                        <li class="nav-item">
                            <a class="nav-link" id="newUser-tab" data-toggle="tab" href="#newUser" role="tab"
                               aria-controls="newUser"
                               aria-selected="false">New user</a>
                        </li>
                    </ul>

                    <!-- content -->
                    <div class="tab-content" id="myTabContent">
                        <!-- users' list -->
                        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="home-tab">
                            <!-- the name of the panel -->
                            <div class="row tables_name_panel border">
                                <h5>All users</h5>
                            </div>
                            <!-- users'list -->
                            <div class="row">
                                <div class="table_container col">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>

                                        <tbody id="users">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- new user -->
                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUser-tab">
                            <!-- the name of the panel -->
                            <div class="row tables_name_panel border">
                                <h5>Add new user</h5>
                            </div>
                            <!-- new user's form -->
                            <div class="row">
                                <div class="table_container col">
                                    <div id="newUserBody">
                                        <!-- Generating page of the new user -->
                                        <div class="row justify-content-center">
                                            <div class="col-4">
                                                <form id="add" action="/admin/reg" method="post">
                                                    <div class="form-group text-center">
                                                        <label for="addFirstName" class="font-weight-bold">First name</label>
                                                        <input type="text" class="form-control" name="firstName" id="addFirstName">
                                                        <!-- <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</label> -->
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addLastName" class="font-weight-bold">Last
                                                            name</label>
                                                        <input type="text" class="form-control" name="lastName"
                                                               id="addLastName">
                                                        <!-- <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</label> -->
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addAge" class="font-weight-bold">Age</label>
                                                        <input type="number" class="form-control" name="age"
                                                               id="addAge">
                                                        <!-- <label th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</label> -->
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addUserMail" class="font-weight-bold">Email</label>
                                                        <input type="email" class="form-control" name="userMail"
                                                               id="addUserMail">
                                                        <!-- <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</label> -->
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addPass" class="font-weight-bold">Password</label>
                                                        <input type="password" class="form-control" name="pass"
                                                               id="addPass">
                                                        <!-- <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</label> -->
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addRepeatPass" class="font-weight-bold">Confirm
                                                            password</label>
                                                        <input type="password" class="form-control" name="repeatPass"
                                                               id="addRepeatPass">
                                                        <!-- <label th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">repeatPassword error</label> -->
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label for="addRoles" class="font-weight-bold">Role</label>
                                                        <select class="form-control custom-select" size="2"
                                                                id="addRoles" multiple name="roles">
                                                            <option th:each="role: ${roles}"
                                                                    th:value="${role.name}"
                                                                    th:text="${role.name}"></option>
                                                        </select>
                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <button type="submit" class="btn btn-success" id="save">Add new
                                                            user
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="/js/common.js"></script>

<!-- uploading a new user -->
<script>
    const ROLES = ['ADMIN', 'USER'];

    $(function () {
        updateUserTable();
        $('#save').on('click', event => saveUser(event));
        $('#edit').on('click', event => editUser(event));
        $('#delete').on('click', event => deleteUser(event));
    })

    function saveUser(e) {
        e.preventDefault();
        let newUser = {
            firstName: $('#addFirstName').val(),
            lastName: $('#addLastName').val(),
            age: $('#addAge').val(),
            email: $('#addUserMail').val(),
            password: $('#addPass').val(),
            repeatPassword: $('#addRepeatPass').val(),
            roles: []
        };
        $('#addRoles').find('option:selected').each((i, option) => {
            newUser['roles'].push({'name': $(option).val()});
        });
        console.log("user:");
        console.log(newUser);
        $.ajax({
            url: '/admin/reg',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(newUser),
            complete: function (data) {
                $('#list').tab('show')
                updateUserTable();
            }
        });
    }

    function updateUserTable() {
        $('#users').empty();
        $.ajax({
            type: 'GET',
            url: '/admin/list',
            success: function (users) {
                users.forEach(user =>
                    $('#users')
                        .append("<tr> \
                                    <td>" + user.id + "</td> \
                                    <td>" + user.firstName + "</td> \
                                    <td>" + user.lastName + "</td> \
                                    <td>" + user.age + "</td> \
                                    <td>" + user.email + "</td> \
                                    <td>" + user.roles.map(role => role.name).join(' ') + "</td> \
                                    <td><button type='button' class='btn btn-info' onclick='editUserForm(" + user.id + ")'>Edit</button><td> \
                                    <td><button type='button' class='btn btn-danger' onclick='deleteUserForm(" + user.id + ")'>Delete</button><td> \
                             </tr>"))
            }
        });
    }
</script>
</body>
</html>