<!-- Generating page of the new user -->
<div class="row justify-content-center">
    <div class="col-4">
        <form th:action="@{/reg}" th:object="${user}" method="post">
            <div class="form-group text-center">
                <label for="firstName" class="font-weight-bold">First name</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
                <!-- <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</label> -->
            </div>

            <div class="form-group text-center">
                <label for="lastName" class="font-weight-bold">Last name</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
                <!-- <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</label> -->
            </div>

            <div class="form-group text-center">
                <label for="age" class="font-weight-bold">Age</label>
                <input type="number" class="form-control" id="age" th:field="*{age}">
                <!-- <label th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</label> -->
            </div>

            <div class="form-group text-center">
                <label for="usermail" class="font-weight-bold">Email</label>
                <input type="email" class="form-control" id="usermail" th:field="*{email}">
                <!-- <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</label> -->
            </div>

            <div class="form-group text-center">
                <label for="pass" class="font-weight-bold">Password</label>
                <input type="password" class="form-control" id="pass" th:field="*{password}">
                <!-- <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</label> -->
            </div>

            <div class="form-group text-center">
                <label for="repeatpass" class="font-weight-bold">Confirm password</label>
                <input type="password" class="form-control" id="repeatpass" th:field="*{repeatPassword}">
                <!-- <label th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">repeatPassword error</label> -->
            </div>

            <div class="form-group text-center">
                <label for="roles" class="font-weight-bold">Role</label>
                <select class="form-control custom-select" size="2" id="roles" multiple name="flag">
                    <option  value="ADMIN">ADMIN</option>
                    <option  value="USER">USER</option>
                </select>
            </div>

            <div class="row justify-content-center">
                <button type="submit" class="btn btn-success">Add new user</button>
            </div>
        </form>
    </div>
</div>


