<!-- Temporary page for tests -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Main page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
</head>
<body>
    <h1>It's Main page</h1>

    <div>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <button onclick="location.href='../../static/styles/admin/'">go to admin page (if you have admin's rights)</button>
            <button onclick="location.href='/user'">go to your page</button>
            <button>exit</button>
        </form>
    </div>

    <table class="table table-hover">
        <tr data-user-id="123">
            <td class="uid">123</td>
            <td class="uname">username-123</td>
            <td><a href="#" class="edit">edit</a></td>
        </tr>
        <tr data-user-id="321">
            <td class="uid">321</td>
            <td class="uname">username-321</td>
            <td><a href="#" class="edit">edit</a></td>
        </tr>
    </table>



    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="hidden" class="userId" id="uid">
                    <input type="text" class="userName" id="uname" name="userName" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="save">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        var $editRow = null;

        $(".edit").click(function(e){
            $editRow = $(this).closest("tr");

            $("#uid").val($editRow.data('user-id'));
            $("#uname").val($editRow.find(".uname").text());

            $("#myModal").modal('show');
        });
        //
        //
        // $("#save").click(function(){
        //     $editRow.find(".uname").text( $("#uname").val() );
        //     $(this).closest('.modal').modal('hide');
        // });

        $("#save").click(function(){
            $editRow.find(".userName").text( $("#uname").val() );
            var userId = $('.userName').val(); console.log(userId);
            $(this).closest('.modal').modal('hide');
        });
    </script>
</body>
</html>