<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration page</title>
</head>
<body>
    <h1>Hello it's registration page</h1>

    <form th:action="@{/reg}" th:object="${user}" method="post">
        <table border="1" >
            <tr>
                <th>email</th>
                <td><input type="text" th:field="*{email}"/></td>
                <td style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> email error</td>
            </tr>

            <tr>
                <th>firstName</th>
                <td><input type="text" th:field="*{firstName}"/></td>
                <td style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> firstName error</td>
            </tr>

            <tr>
                <th>lastName</th>
                <td><input type="text" th:field="*{lastName}"/></td>
                <td style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> lastName error</td>
            </tr>

            <tr>
                <th>age</th>
                <td><input type="text" th:field="*{age}"/></td>
                <td style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"> age error</td>
            </tr>

            <tr>
                <th>password</th>
                <td><input type="password" th:field="*{password}"/></td>
                <td style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> pass error</td>
            </tr>

            <tr>
                <th>confirm pass</th>
                <td><input type="password" th:field="*{repeatPassword}"/></td>
                <td style="color: red" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"> repeatPassword error</td>
            </tr>

            <tr>
                <th>roles</th>
                <td>
                    <label><input type="checkbox" name="option" value="ADMIN">Admin</label>
                    <label><input type="checkbox" name="option" value="USER">User</label>
                </td>
            </tr>

            <tr>
                <th>buttons</th>
                <td>
                    <button type="submit" >Send</button>
                    <button type="reset" >Reset</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>